@import 'normalize-scss';
@include normalize();

@import 'styles/variables';
@import 'styles/scrollsnap';
@import 'styles/animations';
@import 'styles/webkit-scrollbar';



*, *::before, *::after{
  box-sizing: border-box;
  font-family: inherit;
  font-weight: inherit;
}

body {
  font-family: acumin-pro;
  font-weight: 700;
  line-height: 1.1;
  color: var(--c-text-navy);
  margin: 0px;
  overflow: hidden;
}